/*
Основные цвета:
black, #888888 (серый), #770b0b (бордовый), orange (ссылки)
*/

body { 
   color: white; background-color: black;
   font-family: verdana; font-size: 100%; 
   margin: 0em;
}

a { color: orange; }

input[type="text"] {
   width: 96%; padding: 2px 4px;
   color: white; background-color: black; 
   border: 0px dotted #888888; border-width: 0 0 1px 0;
}

textarea {
   width: 94%; height: 200px; padding: 2px 4px; margin: 0.5em 4px;
   color: white; background-color: black; 
   border: 1px solid gray;
}
#order textarea { border: 0px solid black; background: black url(/pics/dots_32x15.gif) repeat scroll 0 0; }

button {
   width: 96%; padding: 2px 4px;
   color: white; background-color: black; 
   border: 1px solid gray; cursor: pointer; 
}
button:hover { background-color: gray; }

.right { text-align: right; }

.title {
   font-family: comic sans ms; font-size: 100%;
}
.title a { text-decoration: none; color: white; }

#header {
   position: absolute; top: 0px; botton: auto; left: 0px; right: 0px; height: 4em;
   color: white; background-color: #770b0b;
   padding: 0.5em;
}

#header .title {
   font-size: 300%; 
}

#footer {
   height: 2em;
   font-size: 90%; 
   color: white; background-color: #770b0b;
}

#search {
   position: absolute; top: 0px; right: 0px; background-color: black;
   min-width: 300px; padding: 8px;
   border: 0px solid white; border-width: 0 0 1px 1px; -moz-border-radius: 0 0 0 8px;
}

#menu { 
   position: absolute; bottom: 0px; right: 0px; 
   text-align: right;
   background-color: #770b0b; color: white;
   padding: 2px 8px;
}
#menu .item { 
   padding: 4px 8px; border: 0px solid white; border-width: 1px 0px 0px 1px; 
   width: 150px; font-size: 90%; cursor: pointer; 
}
#menu .item:hover { background-color: black; }

#order { margin: 0px 4px 0px 0px; }

.arttitle { 
   margin: 0.5em 0em; padding: 4px 8px 4px 20px; border: 0px solid white;
   background: #770b0b url(/pics/art.png) no-repeat scroll 4px 4px;
}
#order > * > .arttitle { border-width: 1px 1px 1px 0px; -moz-border-radius: 0 4px 4px 0; 
   background: #770b0b url(/pics/black-left.png) repeat-y scroll 0 0;}
.short-area .arttitle  { border-width: 1px 0px 1px 1px; -moz-border-radius: 4px 0 0 4px; }

.content {
   color: white; background-color: #050505; padding: 0.5em 1em;
}

.content > .title { font-size: 120%; }

#item-list { padding: 0.5em; }

.description { font-size: 80%; }

.preview { float: left; margin: 0.5em; border: 1px solid #770b0b; }

.follow { clear: both; text-align: right; margin: 0.1em 0em 1em 0em; }

.short-area { min-height: 10em; }

.area { padding: 0.5em; }
