
PROJECTNAME=artcontactmeru

OWNER=anedina
GROUP=anedina

INSTALL_DJANGO_DIR=/home/anedina/django.apps

REGEXP_DEVEL_URL=http:\/\/artcontactru\/

PO=$(wildcard ./locale/ru/LC_MESSAGES/*.po)
MO=$(patsubst %.po,%.mo,$(PO))

