
PROJECTNAME=artcontactmeru
PRODUCTION_DIR=/home/site/django.apps
SHELL_SSH=user@site.ru

OWNER=anedina
GROUP=anedina

INSTALL_DJANGO_DIR=/home/anedina/django.apps

REGEXP_DEVEL_URL=http:\/\/artcontactru

MAKE=gmake

PO=$(wildcard ./locale/ru/LC_MESSAGES/*.po)
MO=$(patsubst %.po,%.mo,$(PO))
