{# Страница для отображения артиста/события/медиа. #}

{% load markup %}
{% load thumbnail_filter %}
<div class="item">
  <div class="title">{{ item_type }}: {{ item.title }}</div>
  {% if item.get_photo %}
  <img class="preview" src="{{ item.get_photo.file.path|thumbnail:"200x,files" }}" title="Нажмите для просмотра" align="left"/>
  {% else %}
  <img src="{{ item.file.path|thumbnail:"600x,files" }}" align="center"/>
  {% endif %}
  {% if item.desc %}
  <span class="description">{{ item.desc|markdown }}</span>
  {% endif %}

  <div style="clear: both;"></div>

  <div>
    <div>Фото</div>
  {% for i in media %}
    {% ifequal i.type 'photo' %}
      <a href="{{ i.get_absolute_url }}">
	<img class="preview" src="{{ i.file.path|thumbnail:"100x,files" }}" title="Нажмите для просмотра" align="left"/>
      </a>
    {% endifequal %}
  {% endfor %}
  </div>

  <div style="clear: both;"></div>

  <div>
    <div>Аудио</div>
  {% for i in media %}
    {% ifequal i.type 'audio' %}
    <div>{{ i.title }}</div>
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" 
	    codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" 
	    width="165" height="37" id="niftyPlayer1" align="">
      <param name=movie value="niftyplayer.swf?file=/media/{{ i.file }}&as=0">
      <param name=quality value=high>
      <param name=bgcolor value=#FFFFFF>
      <embed src="/media/niftyplayer.swf?file=/media/{{ i.file }}&as=0" quality="high" bgcolor="#FFFFFF" 
	     width="165" height="37" name="niftyPlayer1" align="" 
	     type="application/x-shockwave-flash" swLiveConnect="true" 
	     pluginspage="http://www.macromedia.com/go/getflashplayer">
      </embed>
    </object>

    <a href="{{ i.get_absolute_url }}">Скачать</a>
    {% endifequal %}
  {% endfor %}
  </div>

  <div style="clear: both;"></div>

  <div>
    <div>Видео</div>
  {% for i in media %}
    {% ifequal i.type 'video' %}
    <object width="425" height="344">
      <param name="movie" value="http://www.youtube.com/v/{{ i.youtube }}&hl=ru&fs=1&"></param>
      <param name="allowFullScreen" value="true"></param>
      <param name="allowscriptaccess" value="always"></param>
      <embed src="http://www.youtube.com/v/{{ i.youtube }}&hl=ru&fs=1&" type="application/x-shockwave-flash" 
	     allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed>
    </object>
    {% endifequal %}
  {% endfor %}

</div>

