{# Страница для отображения списка групп/событий/медиа. #}

{% load markup %}
{% load thumbnail_filter %}
<div class="title">{{ list_title }}</div>

<div id="item-list">
  {% for item in item_list %}
  <div class="item">
    <div class="title"><a href="/{{ collection }}/{{ item.slug }}/">{{ item.title }}</a></div>
    {% if item.get_photo %}
    <img class="preview" src="{{ item.get_photo.file.path|thumbnail:"200x,files" }}" title="Нажмите для просмотра" align="left"/>
    {% endif %}
    <div class="description">{{ item.desc|markdown|truncatewords:30 }}</div>
    <div class="follow"><a href="/{{ collection }}/{{ item.slug }}/">Далее</a></div>
  </div>
  {% empty %}
  <div class="empty">
    Элементы отсутствуют...
  </div>
  {% endfor %}
</div>
