{# Страница для отображения списка групп/событий/медиа. #}

{% load markup %}
{% load thumbnail_filter %}
<div class="title">{{ list_title }}</div>

<div id="item-list">
  {% for item in item_list %}
  <div class="item">
    <div class="title">{{ item.title }}</div>
    <img class="preview" src="{{ item.photo.all.0.file.path|thumbnail:"200x,files" }}" title="Нажмите для просмотра" align="left"/>
    <div class="description">{{ item.desc|truncatewords:30 }}</div>
    <div class="follow"><a href="/{{ collection }}/{{ item.id }}/">Далее</a></div>
  </div>
  {% empty %}
  <div class="empty">
    Элементы отсутствуют...
  </div>
  {% endfor %}
</div>
